<nav>
    {% for item in site.data.navigation %}
        <a href="{{ item.link | prepend:site.baseurl }}" {% if page.url == item.link %} class="current" {% endif %} >
            {{ item.name }}
        </a>
    {% endfor %}
</nav>