<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend:site.baseurl }}">
    </head>
    <body>
        {% include navigation.html %}
        {{ content }}
    </body>
</html>